+++
title = "Dasher"
linkTitle = "Dasher"

+++

{{< blocks/cover title="Dasher v6" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/dasher-project/redash">
		See the code <i class="fab fa-github ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://dasher-project.github.io/redash/browser/">
		Try out the latest beta <i class="fas fa-rocket"></i></i>
	</a>	
	<p class="lead mt-5">An information-efficient text-entry interface driven by natural continuous pointing gestures, or alternative input methods such as headmouse, gaze and switch input</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Dasher, originally developed by the inference group at Cambridge University has been a popular and very fast text writing system for all people but particularly useful for those with disabilities who use it as a means of communicating in speech and in writing. 
{{% /blocks/lead %}}


{{< blocks/section >}}

<div class="col">
<h3 class="text-center">The project is having a complete rewrite which we hope will have far reaching outcomes - a highly efficient language model (making word & letter prediction faster), easier to manage across different platforms and easier for third party developers to integrate. <i>Interested in helping us?</i> See the community pages for how you can and take an eye on the blog.</h3>
</div>

{{< /blocks/section >}}


{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-users" title="Find out about dasher users" %}}
See some of the users who use dasher from around the world

If you are a user get in touch
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/dasher-project/redash" %}}
We do a [Pull Request](https://github.com/dasher-project/redash/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-newspaper" title="Follow us on the blog" url="blog/" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}






